*------------- Menu Vertical by W3-----------------*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
ul li a:hover {
    background-color: #555;
    color: white;
}

*--------------- registro - login --------------------*
form h3 {
	font-family: sans-serif;
	color: green;
	
}

form div {
	margin: .4em 0;
}
form input{
	padding: 4px;
	margin: 4px;
}
form select {
	padding: 4px;
	margin: 4px;
}

form div label {
	width: 25%;
	float: left;
	font-style: bold;
	padding: 4px;
	margin: 4px;
}


form h5 {
	padding-left: 10px;
}

form span {
	color: red;
}

form h4 {
	color: gray;
}

div.container{
 	margin: auto;
 	padding: 10px;

 }

 .botón{
 	background-color: green;
 	color: black;
 	font-family: sans-serif;
 }

 div.echo {
 	padding: 4px;
 	margin: 4px;
 	color: blue;
 }

 h6{
 	color: green;
 	font-style: italic;
 }
div.error
{
	border-style : solid;
	border-width : 1px;
	border-color : #FF0000;
	background :#FFC0CB;

}
 *-------------------------------------------------------------*


 *--------------------------/*Footer always at bottom*/--------------------------------*
p.footer {
    margin: 0 0 1.5em 0;
  }

#main-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: gray;
  text-align: center;
}

  #main-footer p {
    margin: 0;
    color: white
  }
  
*--------------------------------Main DATA----------------------------------*
#userdata {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#userdata td, #userdata th {

    border: 1px solid #ddd;
    padding: 10px;
}

#userdata tr:nth-child(even){background-color: #f2f2f2;}

#userdata tr:hover {background-color: #ddd;}

#userdata th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(86,99,71);
    color: white;
    width: 65%;
}

